.benefits-section {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.benefits-bg {
    background: url("https://highmotion.ae/wp-content/uploads/2023/11/benefits-bg.jpg") center/cover no-repeat;
    height: 450px;
    width: 100%;
}
.icoon {
    display: flex;
    gap: 125px;
}

.insta-left i {
    color: #000 !important;
}


.benefits-content {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    color: white;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}

.title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
}

.benefits-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: -90px;
    padding: 0 40px;
    flex-wrap: wrap;
}

.benefit-card {
    background: white;
    width: 28%;
    min-width: 280px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.benefit-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.benefit-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.benefit-card p {
    color: #444;
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}



.icon {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0ead69;
}
