
/* ---------------- INSTAGRAM BOX ---------------- */

.instagram-section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.insta-box {
    width: 80%;
    background: white;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.insta-left {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.insta-left i {
    font-size: 30px;
}

.insta-right {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.insta-right img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* ---------------- FAQ SECTION ---------------- */

.faq-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 60px auto;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
}

.faq-left {
    width: 40%;
}

.faq-left h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.faq-left p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.faq-right {
    width: 55%;
}

.faq-right ul {
    list-style: none;
    padding: 0;
}

.faq-right ul li {
    font-size: 18px;
    padding: 12px 0;
    color: #2b2b2b;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.faq-right ul li::before {
    content: "›";
    position: absolute;
    left: 0;
    color: #44b678;
    font-size: 22px;
    font-weight: bold;
}



.faq-right {
    width: 55%;
}

.faq-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    cursor: pointer;
}

.faq-question {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-left: 20px;
    text-align: justify;
}

.faq-question::before {
    content: "›";
    position: absolute;
    left: 0;
    top: 0;
    color: #44b678;
    font-size: 22px;
    transition: 0.3s;
}

.faq-item.active .faq-question::before {
    transform: rotate(90deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    padding-left: 20px;
    text-align: justify;
    padding-top: 10px;
}
